<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        {{> header  }}
        <h1>About</h1>
        <p>This site was made by Jatin Dhingra</p>
        <img src="/img/1.png">
        {{> footer }}
    </body>
</html>